@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --main-bg-color: #414e66;
    --sub-bg-color: #f2f7fb;
    --top-height: 70px;
    --main-transiton: all 0.3s ease;
    --main-border-radius: 10px;
    --main-font-family: font-family: "Open Sans", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font-family);
}
a {
    text-decoration: none;
    color: unset;
}
li {
    list-style: none;
}
.row-grid {
    display: grid;
    justify-content: space-between;
}
.flex-box {
    display: flex;
}
.main-btn {
    padding: 6px 12px;
    background-color: black;
    color: whitesmoke;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    height: 38px;
}
.delete-btn, .none-confirm-order {
    padding: 3px;
    background-color: red;
    color: white;
    border-radius: 4px;
}
.edit-btn, .confirm-order {
    padding: 3px;
    background-color: green;
    color: white;
    border-radius: 4px;
}

/* Main admin */
.admin .row-grid {
    grid-template-columns: 20% 80%;
}

/*Sidebar*/
.admin-sidebar {
    height: 100vh;
    background-color: var(--main-bg-color);
    
}
.admin-sidebar-top {
    text-align: center;
    height: var(--top-height);
    border-bottom: 1px solid gray;
}
.admin-sidebar-top img {
    width: 70px;
}
.admin-sidebar-content > ul > li > a {
    display: block;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.admin-sidebar-content > ul > li > a > i:last-child {
    margin-left: auto;
}
.admin-sidebar-content ul li a i {
    margin-right: 6px;
}
.admin-sidebar-content {
    padding: 30px 0 0 30px;
    color: whitesmoke;
}
.admin-sidebar-content ul li {
    padding: 6px;
    transition: var(--main-transiton);
}
.admin-sidebar-content ul li:hover {
    background-color: rgba(0, 0, 0, 0.607);
}
.sub-menu {
    height: 0;
    overflow: hidden;
    transition: var(--main-transiton);
}
/* .sub-menu.active {
    height: 60px;
} */
.sub-menu li:hover a {
    color: rgba(11, 133, 255, 0.614);
}
/* content */

.admin-content {
    background-color: var(--sub-bg-color);
}
.admin-content-top {
    display: flex;
    justify-content: space-between;
    height: var(--top-height);
    border-bottom: 1px solid gray;
    padding: 0 12px;
}
.admin-content-top .flex-box {
    height: 70px;
    align-items: center;
}
.admin-content-top i {
    margin-right: 12px;
    cursor: pointer;
}
.admin-content-right ul li:last-child p {
    cursor: pointer;
}
.admin-content-right ul li:first-child i {
    position: relative;
}
.admin-content-right ul li:first-child i::after {
    position: absolute;
    content: attr(number);
    height: 20px;
    width: 20px;
    display: flex;
    background-color: rgb(42, 171, 235);
    border-radius: 50%;
    top: -12px;
    right: -12px;
    color: whitesmoke;
    text-align: center;
    justify-content: center;
    align-items: center;
    animation: notifi;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 0.3s;
}
.admin-content-right ul li:nth-child(2) i {
    position: relative;
}
.admin-content-right ul li:nth-child(2) i::after {
    position: absolute;
    content: attr(number);
    height: 20px;
    width: 20px;
    display: flex;
    background-color: rgba(224, 40, 40, 0.811);
    border-radius: 50%;
    top: -12px;
    right: -12px;
    color: whitesmoke;
    text-align: center;
    justify-content: center;
    align-items: center;
    animation: notifi;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 0.3s;
}
@keyframes notifi {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.admin-content-main-title h1 {
    padding: 12px;
    font-weight: 500;
    position: relative;
}
.admin-content-main-title h1::before {
    position: absolute;
    display: block;
    content: "";
    height: 4px;
    width: 70px;
    background-color: var(--main-bg-color);
    bottom: 6px;
    left: 12px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
 /* Add Product */

 .admin-add-and-list-order-product {
    background-color: white;
 }
 .admin-add-content {
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 12px;
    column-gap: 20px;
 }
 .admin-add-left input{
    height: 40px;
    border: none;
    background-color: var(--sub-bg-color);
    margin-bottom: 20px;
    outline: none;
    border-radius: 5px;
    padding-left: 6px;
 }
 .admin-add-two-input {
    display: flex;
    justify-content: space-between;
 }
 .admin-add-two-input input {
    width: 43%;
 }
 .admin-add-left textarea {
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    padding: 6px;
    border: none;
 }
 .admin-add-right-img input {
    display: none;
 }
 .admin-add-right label {
    padding: 6px 12px;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    display: inline-block;
 }
 .img-file {
    min-height: 150px;
 }
 /* Product-list */

 .admin-product-list table {
    width: 100%;
    padding: 12px 0;
    border-collapse: collapse;
    border: 1px solid gray;
 }
 .admin-product-list table, th, td {
    text-align: center;
 }
 .admin-product-list table th {
    background-color: black;
    color: white;
    padding: 6px 0;
 }
 /* Order list */
 .admin-order-list table {
    width: 100%;
    padding: 12px 0;
    border-collapse: collapse;
    border: 1px solid gray;
 }
 .admin-order-list table, th, td {
    text-align: center;
 }
 .admin-order-list table th {
    background-color: black;
    color: white;
    padding: 6px 0;
 }
 .admin-order-list table a {
    display: inline-block;
 }
 .admin-order-list table td {
    padding: 6px 0;
 }
 /* bổ sung */
 #input-file-img{
    padding: 12px 0;
 }
 #input-file-img img{
    width: 70px;
 }